.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e8e7e7;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}
